:root {
  --base-color: #cfcfcf;
  --white: #ffffff;
}

.content-wrapper {
  background-color: var(--base-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
}

.start-game-screen {
  position: absolute;
  background-color: var(--white);
  border-radius: 20px;
  width: 250px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: visible;
}

.gameboard {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.board-cell {
  font-size: 3rem;
  margin: 5px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-over-screen {
  position: absolute;
  background-color: var(--white);
  border-radius: 20px;
  width: 250px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
